@import '../../../../assets/styles/variables.scss';
.wrap {
    //border         : 1px solid red;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
    min-height: 70px;
    
    .wrap__nav {
        ul {
            display     : flex;
            align-items : center;
           
            li{
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                a {
                    font-weight: 300;
                    font-size  : 16px;
                    font-family: 'Gilroy';
                    font-style : normal;
                    color: $grey1;
                }
            }

           
        }
    }

}