@import '../../assets//styles/variables.scss';

.cardButton {
    min-height: 225px;
    width: 100%;
    border: 1px solid $grey5;
    position: relative;

    button {
        min-height: 225px;
        width: 100%;
        border: none;
        outline: none;
        background: rgba(255, 255, 255, 0);
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color:$grey6;
        text-transform: uppercase;
    }

    img {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.card {
    border: 1px solid $grey5;
    width: 100%;
    min-height: 225px;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;

    .card__img {
        position: relative;
        height: 160px;
        border: 1px solid red;

        .card__price {
            position: absolute;
            left: 15px;
            top: 15px;
            min-width: 70px;
            height: 26px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;

            span {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: $grey1;

                &:first-child {
                    margin-right: 3px;
                }

            }


        }

        .active {
            border: 1px solid red;
            background: $red;

            span {
                color: $white;
            }
        }
    }
}